<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemalocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

<display-name>cxf-prime</display-name>
    <description>Applicazione SMAC WS OUT</description>

    <servlet>
        <display-name>CxFPrimeServlet</display-name>
        <servlet-name>CxFPrimeServlet</servlet-name>
        <servlet-class>me.antoniocaccamo.cxf.prime.servlet.CxFPrimeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CxFPrimeServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>


</web-app>